DeployService/Service References/ConcentoAuthentication/Authentication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="auth_req">
    <xs:sequence>
      <xs:element name="app_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auth_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="random_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="req_access_list" type="xs:boolean" />
      <xs:element minOccurs="0" name="req_user_profile" type="xs:boolean" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_req" nillable="true" type="tns:auth_req" />
  <xs:complexType name="auth_resp">
    <xs:sequence>
      <xs:element minOccurs="0" name="access_list" nillable="true" type="tns:ArrayOfaccess_rights" />
      <xs:element minOccurs="0" name="auth_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="generated_on" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user_profile" nillable="true" type="tns:user_profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_resp" nillable="true" type="tns:auth_resp" />
  <xs:complexType name="ArrayOfaccess_rights">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="access_rights" nillable="true" type="tns:access_rights" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaccess_rights" nillable="true" type="tns:ArrayOfaccess_rights" />
  <xs:complexType name="access_rights">
    <xs:sequence>
      <xs:element minOccurs="0" name="access_delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="access_read" type="xs:boolean" />
      <xs:element minOccurs="0" name="access_write" type="xs:boolean" />
      <xs:element minOccurs="0" name="feature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="access_rights" nillable="true" type="tns:access_rights" />
  <xs:complexType name="user_profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user_profile" nillable="true" type="tns:user_profile" />
</xs:schema>