DeployService/Service References/ConcentoAuthentication/Authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50611/Services/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" minOccurs="0" name="authRequest" nillable="true" type="q1:auth_req" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q2:auth_resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" minOccurs="0" name="authRequest" nillable="true" type="q3:auth_req" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" minOccurs="0" name="AuthenticateTokenResult" nillable="true" type="q4:auth_resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessToPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessToPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" minOccurs="0" name="CheckAccessToPathResult" nillable="true" type="q5:access_rights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>