DeployService/Service References/ConcentoAuthentication/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Authentication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50611/Services/Authentication.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50611/Services/Authentication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50611/Services/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConcentoSecurity.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentication_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthenticateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateToken" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthenticateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_CheckAccessToPath_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccessToPath" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_CheckAccessToPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccessToPathResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentication">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/AuthenticateUser" message="tns:IAuthentication_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/AuthenticateUserResponse" message="tns:IAuthentication_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/AuthenticateToken" message="tns:IAuthentication_AuthenticateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/AuthenticateTokenResponse" message="tns:IAuthentication_AuthenticateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccessToPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/CheckAccessToPath" message="tns:IAuthentication_CheckAccessToPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/CheckAccessToPathResponse" message="tns:IAuthentication_CheckAccessToPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Authentication" />
</wsdl:definitions>